<div class="card-reloj tema-vela">
  <div class="card-header">
    <span class="epoca">Renacimiento (~Siglo XVI d.C.)</span>
    <h3>Lámpara de Aceite Graduada</h3>
  </div>

  <div class="escenario-interno">
    <div class="lampara-vidrio">
      <div class="capa-cristal">
        <div class="deposito-aceite" [style.height.%]="porcentajeAceiteRestante">
          <div class="ondas-aceite"></div>
        </div>
        <div class="escala-graduada">
          <div class="marca"><span>XII</span></div>
          <div class="marca"><span>IX</span></div>
          <div class="marca"><span>VI</span></div>
          <div class="marca"><span>III</span></div>
        </div>
      </div>
      <div class="soporte-mecha">
        <div class="fuego-mecha"></div>
      </div>
      <div class="base-bronce"></div>
    </div>
  </div>

  <div class="card-footer">
    <p class="status-text">Nivel de fluido medido por volumen remanente</p>
  </div>
</div>