<div class="card-reloj pendulo-theme">
  <div class="card-header">
    <span class="epoca">Revolución Científica (~1656)</span>
    <h3>Reloj de Péndulo de Galileo</h3>
  </div>
  <div class="reloj-mecanico-body">
    <div class="esfera-blanca">
      <div class="aguja hora" [ngStyle]="{'transform': 'rotate(' + (hora.getHours() * 30 + hora.getMinutes() * 0.5) + 'deg)'}"></div>
      <div class="aguja minuto" [ngStyle]="{'transform': 'rotate(' + (hora.getMinutes() * 6) + 'deg)'}"></div>
      <div class="centro-perno"></div>
    </div>
    
    <div class="caja-oscilacion">
      <div class="pendulo-brazo" [class.izquierda]="hora.getSeconds() % 2 === 0">
        <div class="lenteja-oro"></div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p class="status-text">Escape de áncora sincronizado</p>
  </div>
</div>